@use "base";
@use "text-options";

@use "navbar";
@use "banner";

@use "flex-grid";
@use "flex-options";

@use "conf";

// styling voor scrollen

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  cursor: pointer;
  background: #5693008d; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #3b6401;
  border-radius: 50px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a4700; 
}

//logo
.logo {
  max-width: 80px;
  display: flex;
  align-items: center;
  margin: 0.5rem 0rem;
}

// styling voor uitklap meer info

#more,
#more2,
#more3,
#more4,
#more5,
#more6,
#more7,
#more8{
  display: none;
}

#myBtn,
#myBtn2,
#myBtn3,
#myBtn4,
#myBtn5,
#myBtn6,
#myBtn7,
#myBtn8{
  rotate: 90deg;
  scale: 1.5;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50px;
  transition: 0.5s;
  height: 45px;
  width: 28px;
  margin-top: -2rem;

  
  &:hover{
    font-weight: bold;
    scale: 1.1;
    background-color: #ff8c00;
    border-width: 5px;
  }
}


// styling voor bubble
.bubbleTop,
.bubbleTop2,
.bubbleLeft,
.bubbleRight,
.meestRecentBubbleLeft,
.meestRecentBubbleRight,
.revieuwBubbleLeft,
.revieuwBubbleRight,
.footerBubble,
.footerBubble2 {
  display: flex;
  scroll-margin-top: 4em;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto 1rem;
  padding: 20px 40px;
  background-color: #D9D9D9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 50px 50px;
  scroll-margin-top: 4em;

  &.bubbleTop2{
    background-color: #414A4C;
  }

  &.meestRecentBubbleLeft{
    background-color: #C29007;
    border-radius: 0 50px 50px 50px;
  }

  &.meestRecentBubbleRight{
    background-color: #C29007;
    border-radius: 50px 0 50px 50px;
  }

  &.revieuwBubbleLeft{
    background-color: #414A4C;
    border-radius: 0 50px 50px 50px;
  }

  &.revieuwBubbleRight{
    background-color: #414A4C;
    border-radius: 50px 0 50px 50px;
  }

  &.bubbleLeft{
    background-color: #414A4C;
    border-radius: 0 50px 50px 50px;
  }
  &.bubbleRight{
    background-color: #414A4C;
    border-radius: 50px 0 50px 50px;
  }

}

.footerBubble,
.footerBubble2 {
  display: flex;
  max-width: 1500px;
  height: 250px;
  width: 100%;
  margin: 0 auto 1rem;
  padding: 20px 40px;
  background-color: #414A4C;// was #bdbdbd
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 50px 50px 50px;
  scroll-margin-top: 4em;

  &.footerBubble2{
    border-radius: 50px 0 50px 50px;
  }
}


// styling voor side menu
.side_menu_open {
  margin-right: 1rem;
  color: #fff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  margin-top: 4.3rem;
  top: 0;
  // left: 0;
   right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav.opened {
  width: 250px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  transition: 0.5s;
  color: #ff8c00;
}

.side_menu_open:hover {
  transition: 0.5s;
  color: #ff8c00;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

#social{
  width: 50px;
  cursor: pointer;
}

#overShopStart > p{
margin-bottom: 2rem;
}

#contact1{
  margin-bottom: 11rem;
}
