@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,400;1,500;1,900&display=swap");
html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.15rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

body {
  overflow-x: hidden;
}
body * {
  box-sizing: border-box;
}

h1, h2 h3,
h4,
h5,
h6 {
  word-wrap: break-word;
  -webkit-hyphens: auto; /* Chrome, Safari */
  -moz-hyphens: auto; /* Firefox */
  -ms-hyphens: auto; /* Internet Explorer */
  hyphens: auto;
  overflow-wrap: break-word; /* Alternatív tulajdonság a szavak tördeléséhez */
  white-space: normal; /* Normál szöveg tördelés */
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
}

h2 h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.1em;
}

p {
  margin: 0.5em 0;
  word-wrap: break-word;
  -webkit-hyphens: auto; /* Chrome, Safari */
  -moz-hyphens: auto; /* Firefox */
  -ms-hyphens: auto; /* Internet Explorer */
  hyphens: auto;
  overflow-wrap: break-word; /* Alternatív tulajdonság a szavak tördeléséhez */
  white-space: normal; /* Normál szöveg tördelés */
}

.pFoto {
  width: 120px;
  padding: 3rem;
}

#bubble {
  position: relative;
}

#img1 {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

#img2 {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

#img3 {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

#img4 {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

#img5 {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.pFoto-img,
.pFoto-img2 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: right;
}
.pFoto-img.pFoto-img2,
.pFoto-img2.pFoto-img2 {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
  min-height: 50px;
  max-height: 250px;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.imgLeft {
  border-radius: 0 100px 100px 100px;
}

.imgRight {
  border-radius: 100px 0 100px 100px;
}

section {
  position: relative;
  padding: 2rem 0;
}
section.blue-background {
  background-color: rgba(0, 174, 239, 0.5);
}
section.orange-background {
  background-color: rgba(247, 166, 17, 0.5);
}

a {
  color: #000;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #ff8c00;
}

footer {
  background-color: #D2D2D2;
}
footer ul {
  list-style: none;
  display: flex;
  line-height: 30px;
}
footer ulli p {
  margin: 0;
}

input,
textarea {
  width: 1000px;
  height: 40px;
  min-width: 50px;
  border-radius: 50px;
  padding: 1rem;
}

button[type=submit] {
  max-width: 200px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  align-items: center;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  opacity: 0.8;
  z-index: 3;
}
nav ul {
  display: flex;
  padding: 0;
  margin: 0.5rem;
}
nav ul li {
  display: flex;
  position: relative;
}
nav ul li a {
  display: inline-block;
  padding: 1rem;
  color: #fff;
}
nav .main-menu ul > li > a {
  text-decoration: none;
}
nav .main-menu ul > li > a:hover {
  background-color: #ff8c00;
}

#progress-bar {
  background-color: rgba(149, 255, 0, 0.5529411765); /* Change color as needed */
  height: 5px;
  width: 0;
  transition: width 0.001s ease-in-out; /* Smoother transition */
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  padding: clamp(5rem, 20vh, 15rem) clamp(1rem, 5vw, 5rem) clamp(1rem, 5vw, 5rem);
}
#banner img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
#banner .content {
  display: flex;
  max-width: 30em;
  height: fit-content;
  flex-direction: column;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.8666666667);
  color: #fff;
  z-index: 2;
}
#banner.height-50 {
  height: 50vh;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}
@media screen and (min-width: 340px) {
  .container {
    width: 240px;
  }
}
@media screen and (min-width: 576px) {
  .container {
    width: 476px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 668px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 892px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1300px;
  }
}

.row,
.col,
[class^=col-],
[class*=" col-"],
.inner {
  display: flex;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.col,
[class^=col-],
[class*=" col-"] {
  flex-direction: column;
  max-width: 100%;
  padding: 0.5rem;
}
.col .inner,
[class^=col-] .inner,
[class*=" col-"] .inner {
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
}

.col {
  flex-grow: 1;
}
@media screen and (max-width: 576px) {
  .col {
    width: 100%;
  }
}

[class^=col-],
[class*=" col-"] {
  flex: 0 0 auto;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 340px) {
  .col-xs-1 {
    width: 8.3333333333%;
  }
  .col-xs-2 {
    width: 16.6666666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333333333%;
  }
  .col-xs-5 {
    width: 41.6666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333333333%;
  }
  .col-xs-8 {
    width: 66.6666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333333333%;
  }
  .col-xs-11 {
    width: 91.6666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .col-s-1 {
    width: 8.3333333333%;
  }
  .col-s-2 {
    width: 16.6666666667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.3333333333%;
  }
  .col-s-5 {
    width: 41.6666666667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.3333333333%;
  }
  .col-s-8 {
    width: 66.6666666667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.3333333333%;
  }
  .col-s-11 {
    width: 91.6666666667%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.3333333333%;
  }
  .col-m-2 {
    width: 16.6666666667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.3333333333%;
  }
  .col-m-5 {
    width: 41.6666666667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.3333333333%;
  }
  .col-m-8 {
    width: 66.6666666667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.3333333333%;
  }
  .col-m-11 {
    width: 91.6666666667%;
  }
  .col-m-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-1 {
    width: 8.3333333333%;
  }
  .col-l-2 {
    width: 16.6666666667%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.3333333333%;
  }
  .col-l-5 {
    width: 41.6666666667%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.3333333333%;
  }
  .col-l-8 {
    width: 66.6666666667%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.3333333333%;
  }
  .col-l-11 {
    width: 91.6666666667%;
  }
  .col-l-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
.fw-wrap {
  flex-wrap: wrap !important;
}

.fw-nowrap {
  flex-wrap: nowrap !important;
}

.fd-row {
  flex-direction: row !important;
}

.fd-row-r {
  flex-direction: row-reverse !important;
}

.fd-column {
  flex-direction: column !important;
}

.fd-column-r {
  flex-direction: column-reverse !important;
}

.jc-initial {
  justify-content: initial !important;
}

.jc-inherit {
  justify-content: inherit !important;
}

.jc-flex-start {
  justify-content: flex-start !important;
}

.jc-flex-end {
  justify-content: flex-end !important;
}

.jc-center {
  justify-content: center !important;
}

.jc-space-between {
  justify-content: space-between !important;
}

.jc-space-around {
  justify-content: space-around !important;
}

.jc-space-evenly {
  justify-content: space-evenly !important;
}

.ac-initial {
  align-content: initial !important;
}

.ac-inherit {
  align-content: inherit !important;
}

.ac-flex-start {
  align-content: flex-start !important;
}

.ac-flex-end {
  align-content: flex-end !important;
}

.ac-center {
  align-content: center !important;
}

.ac-space-between {
  align-content: space-between !important;
}

.ac-space-around {
  align-content: space-around !important;
}

.ac-space-evenly {
  align-content: space-evenly !important;
}

.ac-stretch {
  align-content: stretch !important;
}

.ai-baseline {
  align-items: baseline !important;
}

.ai-initial {
  align-items: initial !important;
}

.ai-inherit {
  align-items: inherit !important;
}

.ai-flex-start {
  align-items: flex-start !important;
}

.ai-flex-end {
  align-items: flex-end !important;
}

.ai-center {
  align-items: center !important;
}

.ai-stretch {
  align-items: stretch !important;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  cursor: pointer;
  background: rgba(86, 147, 0, 0.5529411765);
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #3b6401;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a4700;
}

.logo {
  max-width: 80px;
  display: flex;
  align-items: center;
  margin: 0.5rem 0rem;
}

#more,
#more2,
#more3,
#more4,
#more5,
#more6,
#more7,
#more8 {
  display: none;
}

#myBtn,
#myBtn2,
#myBtn3,
#myBtn4,
#myBtn5,
#myBtn6,
#myBtn7,
#myBtn8 {
  rotate: 90deg;
  scale: 1.5;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50px;
  transition: 0.5s;
  height: 45px;
  width: 28px;
  margin-top: -2rem;
}
#myBtn:hover,
#myBtn2:hover,
#myBtn3:hover,
#myBtn4:hover,
#myBtn5:hover,
#myBtn6:hover,
#myBtn7:hover,
#myBtn8:hover {
  font-weight: bold;
  scale: 1.1;
  background-color: #ff8c00;
  border-width: 5px;
}

.bubbleTop,
.bubbleTop2,
.bubbleLeft,
.bubbleRight,
.meestRecentBubbleLeft,
.meestRecentBubbleRight,
.revieuwBubbleLeft,
.revieuwBubbleRight,
.footerBubble,
.footerBubble2 {
  display: flex;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto 1rem;
  padding: 20px 40px;
  background-color: #D9D9D9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 50px 50px;
  scroll-margin-top: 4em;
}
.bubbleTop.bubbleTop2,
.bubbleTop2.bubbleTop2,
.bubbleLeft.bubbleTop2,
.bubbleRight.bubbleTop2,
.meestRecentBubbleLeft.bubbleTop2,
.meestRecentBubbleRight.bubbleTop2,
.revieuwBubbleLeft.bubbleTop2,
.revieuwBubbleRight.bubbleTop2,
.footerBubble.bubbleTop2,
.footerBubble2.bubbleTop2 {
  background-color: #414A4C;
}
.bubbleTop.meestRecentBubbleLeft,
.bubbleTop2.meestRecentBubbleLeft,
.bubbleLeft.meestRecentBubbleLeft,
.bubbleRight.meestRecentBubbleLeft,
.meestRecentBubbleLeft.meestRecentBubbleLeft,
.meestRecentBubbleRight.meestRecentBubbleLeft,
.revieuwBubbleLeft.meestRecentBubbleLeft,
.revieuwBubbleRight.meestRecentBubbleLeft,
.footerBubble.meestRecentBubbleLeft,
.footerBubble2.meestRecentBubbleLeft {
  background-color: #C29007;
  border-radius: 0 50px 50px 50px;
}
.bubbleTop.meestRecentBubbleRight,
.bubbleTop2.meestRecentBubbleRight,
.bubbleLeft.meestRecentBubbleRight,
.bubbleRight.meestRecentBubbleRight,
.meestRecentBubbleLeft.meestRecentBubbleRight,
.meestRecentBubbleRight.meestRecentBubbleRight,
.revieuwBubbleLeft.meestRecentBubbleRight,
.revieuwBubbleRight.meestRecentBubbleRight,
.footerBubble.meestRecentBubbleRight,
.footerBubble2.meestRecentBubbleRight {
  background-color: #C29007;
  border-radius: 50px 0 50px 50px;
}
.bubbleTop.revieuwBubbleLeft,
.bubbleTop2.revieuwBubbleLeft,
.bubbleLeft.revieuwBubbleLeft,
.bubbleRight.revieuwBubbleLeft,
.meestRecentBubbleLeft.revieuwBubbleLeft,
.meestRecentBubbleRight.revieuwBubbleLeft,
.revieuwBubbleLeft.revieuwBubbleLeft,
.revieuwBubbleRight.revieuwBubbleLeft,
.footerBubble.revieuwBubbleLeft,
.footerBubble2.revieuwBubbleLeft {
  background-color: #414A4C;
  border-radius: 0 50px 50px 50px;
}
.bubbleTop.revieuwBubbleRight,
.bubbleTop2.revieuwBubbleRight,
.bubbleLeft.revieuwBubbleRight,
.bubbleRight.revieuwBubbleRight,
.meestRecentBubbleLeft.revieuwBubbleRight,
.meestRecentBubbleRight.revieuwBubbleRight,
.revieuwBubbleLeft.revieuwBubbleRight,
.revieuwBubbleRight.revieuwBubbleRight,
.footerBubble.revieuwBubbleRight,
.footerBubble2.revieuwBubbleRight {
  background-color: #414A4C;
  border-radius: 50px 0 50px 50px;
}
.bubbleTop.bubbleLeft,
.bubbleTop2.bubbleLeft,
.bubbleLeft.bubbleLeft,
.bubbleRight.bubbleLeft,
.meestRecentBubbleLeft.bubbleLeft,
.meestRecentBubbleRight.bubbleLeft,
.revieuwBubbleLeft.bubbleLeft,
.revieuwBubbleRight.bubbleLeft,
.footerBubble.bubbleLeft,
.footerBubble2.bubbleLeft {
  background-color: #414A4C;
  border-radius: 0 50px 50px 50px;
}
.bubbleTop.bubbleRight,
.bubbleTop2.bubbleRight,
.bubbleLeft.bubbleRight,
.bubbleRight.bubbleRight,
.meestRecentBubbleLeft.bubbleRight,
.meestRecentBubbleRight.bubbleRight,
.revieuwBubbleLeft.bubbleRight,
.revieuwBubbleRight.bubbleRight,
.footerBubble.bubbleRight,
.footerBubble2.bubbleRight {
  background-color: #414A4C;
  border-radius: 50px 0 50px 50px;
}

.footerBubble,
.footerBubble2 {
  display: flex;
  max-width: 1500px;
  height: 250px;
  width: 100%;
  margin: 0 auto 1rem;
  padding: 20px 40px;
  background-color: #414A4C;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 50px 50px 50px;
  scroll-margin-top: 4em;
}
.footerBubble.footerBubble2,
.footerBubble2.footerBubble2 {
  border-radius: 50px 0 50px 50px;
}

.side_menu_open {
  margin-right: 1rem;
  color: #fff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  margin-top: 3.95rem;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav.opened {
  width: 250px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  transition: 0.5s;
  color: #ff8c00;
}

.side_menu_open:hover {
  transition: 0.5s;
  color: #ff8c00;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
#social {
  width: 50px;
  cursor: pointer;
}

#overShopStart > p {
  margin-bottom: 2rem;
}

#contact1 {
  margin-bottom: 11rem;
}

/*# sourceMappingURL=main.css.map */
